@mixin text-component( 
  $font-family, 
  $font-size, 
  $font-weight, 
  $text-align, 
  $color
) {
  
  font-family: $font-family;
  font-size: $font-size;
  font-weight: $font-weight;
  text-align: $text-align;
  color: $color;
}


@mixin item-container($padding){
  box-sizing: border-box;
  padding: $padding
};


@mixin image-grid(
  $width,
  $height:auto,
  $position: center,
  $object-fit: cover
) {

  width: $width;
  height: $height;
  position: $position;
  object-fit: $object-fit;
}