/****** NAVIGATION BAR ******/

.navbar {
    padding: 1.8rem 1.2rem 0.55rem 1.2rem;
    background: #3ebfff;
    @include display-flex;
    @include flex-direction-row;
    @include align-items(center);
    @include justify-content(space-between);
}

.navbar-logo {
    flex-basis: 40%;
    text-align: left;
}

.navbar-container {
    flex-basis: 15%;
    text-align: right;
}

.navbar-toggle {
    border: 0;
    background: transparent;
}

.navbar-bocadillo {
    display: none;
}

.navbar-container-desktop {
    display: none;
}


/****** HEADER ******/

.header {   
    height: 69vh;
    background-image: url(../images/mobile/image-header.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    @include display-flex;
    @include flex-direction-column;
    @include align-items(center);
}

.header__title {
    box-sizing: border-box;
    height: 45%;
    padding-top: 1rem;
    letter-spacing: 5px;
    text-transform: uppercase;
    line-height: 3rem;
    @include display-flex;
    @include align-items(center);
    @include title( 
        map-get($fonts-family, 'primary'), 
        2.2rem, 
        map-get($primary-font-weights, 'bolder'), 
        center, 
        white
    );        
}

.header__decorative-arrow {
    position: relative;
    top: 5%;
    height: 25%;
}


/****** FOOTER ******/

.attribution { 
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}