/****** NAVIGATION BAR ******/

.navbar {
    padding: 1.8rem 1.2rem 0.55rem 1.2rem;
    background: #3ebfff;
    @include display-flex;
    @include flex-direction-row;
    @include align-items(center);
    @include justify-content(space-between);
}


.navbar-logo {
    flex-basis: 40%;
    text-align: left;
}


.navbar-container {
    flex-basis: 15%;
    text-align: right;
}


.navbar-toggle {
    border: 0;
    background: transparent;
    cursor: pointer;
}


.navbar-bocadillo {
    padding: 1.5rem; 
    z-index: 2;   
    position: absolute;
    left: 7%;
    right: 7%;
    top: 13%;
    background: white;
    opacity: 0;
    @include display-flex;
    @include flex-direction-column;

    &::after {
        content: "";
        position: absolute;
        top: -30px;
        right: 0;
        border: 20px solid white;
        border-left-color: transparent;
        border-top-color: transparent;
    }

    &--style_animated_in {
        @include fadedAnimation;
    }

    &--style_animated_out {
        @include fadedAnimation(0.8s, fadeout);
    }
}

.navbar-item {
    text-align: center;
}

.navbar-item__link {
    display: inline-block;
    margin: 1rem 0;
    text-decoration: none;
    @include text-component(
        map-get($fonts-family, 'secondary'), 
        1.1rem, 
        map-get($secondary-font-weights, 'semi-bold'), 
        center, 
        map-get($neutral-colors, 'dark-grayish-blue')
    );

    &--style_button {
        font-family: map-get($fonts-family, 'primary');
        font-size: 0.9rem;
        text-transform: uppercase;
        @include button(
            auto,
            1.2rem 1.8rem, 
            35px,         
            map-get($neutral-colors, 'very-dark-desaturated-blue'),
            map-get($primary-colors, 'yelloww'),
        );
    }
}


.navbar-container-desktop {
    display: none;
}


/****** HEADER ******/

.header {   
    height: 69vh;
    background-image: url(../images/mobile/image-header.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    @include display-flex;
    @include flex-direction-column;
    @include align-items(center);
}

.header__title {
    box-sizing: border-box;
    height: 45%;
    padding-top: 1rem;
    letter-spacing: 5px;
    text-transform: uppercase;
    line-height: 3rem;
    @include display-flex;
    @include align-items(center);
    @include text-component( 
        map-get($fonts-family, 'primary'), 
        2.2rem, 
        map-get($primary-font-weights, 'bolder'), 
        center, 
        white
    );        
}

.header__decorative-arrow {
    position: relative;
    top: 5%;
    height: 25%;
}

/******* MAIN ***********/

.about-item {
    @include item-container(4rem 0.833rem);
    @include display-flex;
    @include flex-direction-column;
    @include align-items(center);
}

.about-item--type_only_image {
    @include item-container (0);
}

.about-item__image {    
    @include image-grid(100%);
}

.about-item__title {
    margin-bottom: 1.7rem;
    line-height: 2.4rem;
    @include text-component(
        map-get($fonts-family, 'primary'), 
        1.8rem, 
        map-get($primary-font-weights, 'bolder'), 
        center, 
        map-get($neutral-colors, 'very-dark-desaturated-blue')
    );
}

.about-item__description {
    margin-bottom: 3rem;
    line-height: 1.5rem;
    @include text-component(
        map-get($fonts-family, 'secondary'), 
        1rem, 
        map-get($secondary-font-weights, 'semi-bold'), 
        center, 
        map-get($neutral-colors, 'dark-grayish-blue')
    );
}

.about-item__link {
    display: block;
    position: relative;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.05rem;
    @include text-component(
        map-get($fonts-family, 'primary'), 
        0.85rem, 
        map-get($primary-font-weights, 'bolder'), 
        center, 
        map-get($neutral-colors, 'very-dark-desaturated-blue')
    );

    &::after {
        content: "";
        height: 12px;
        z-index: -1;
        position: absolute;
        left: -9px;
        right: -9px;
        top: 9px;
        border-radius: 5px;
        background: #84fab0;
    }

    &--decoration_gray::after {
        background: #fdd9d4;
    }

    &:hover::after {
        background: map-get($primary-colors, "yelloww");
    }

    &--decoration_gray:hover::after {
        background: map-get($primary-colors, "soft-red");
    }
}


.service-item {
    position: relative;
}

.service-item__image-container {
    position: relative;
    bottom: -5px;
}

.service-item__image {
    @include image-grid;
}

.service-item__title {
    width: 100%;
    position: absolute;
    bottom: 28%;
    @include text-component(
        map-get($fonts-family, 'primary'), 
        1.55rem, 
        map-get($primary-font-weights, 'bolder'), 
        center, 
        map-get($primary-colors, 'dark-desaturated-cyan')
    );

    &--color_dark-blue {
        color: map-get($primary-colors, 'dark-blue' );
    }
}

.service-item__description {
    padding: 0 1rem;
    position: absolute;
    bottom: 9%;
    line-height: 1.5rem;
    @include text-component(
        map-get($fonts-family, 'secondary'), 
        0.9rem, 
        map-get($secondary-font-weights, 'semi-bold'), 
        center, 
        map-get($primary-colors, 'dark-desaturated-cyan')
    );

    &--color_dark-blue {
        color: map-get($primary-colors, 'dark-blue' );
    }
}


.client-testimonial-item {
    text-align: center;
    @include item-container(2.6rem 1.2rem);
}

.client-testimonials__title {
    padding: 3.5rem 0 1rem;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    @include text-component(
        map-get($fonts-family, 'primary'), 
        0.9rem, 
        map-get($primary-font-weights, 'bolder'), 
        center, 
        map-get($neutral-colors, 'grayish-blue')
    );
}

.client-testimonial-item__profile-image {
    border-radius: 50%;
    @include image-grid(72px);
}

.client-testimonial-item__description {
    margin: 2rem 0;
    line-height: 1.6rem;
    @include text-component(
        map-get($fonts-family, 'secondary'), 
        1rem, 
        map-get($secondary-font-weights, 'semi-bold'), 
        center, 
        map-get($neutral-colors, 'very-dark-grayish-blue')
    );
}

.client-testimonial-item__name {
    margin-bottom: 1rem;
    @include text-component(
        map-get($fonts-family, 'primary'), 
        1rem, 
        map-get($primary-font-weights, 'bolder'), 
        center, 
        map-get($primary-colors, 'dark-desaturated-cyan')
    );
}

.client-testimonial-item__profession {
    @include text-component(
        map-get($fonts-family, 'secondary'), 
        0.75rem, 
        map-get($secondary-font-weights, 'semi-bold'), 
        center, 
        map-get($neutral-colors, 'grayish-blue')
    );
}


.gallery-projects-container {
    @include display-grid;
    @include grid-template-columns(1fr 1fr);
}


.project-item {
    position: relative;
}

.project-item__image-container {
    position: relative;
    bottom: -5px;
}

.project-item__image {
    @include image-grid;
}


/****** FOOTER ******/

.footer-container {
    padding: 4rem 0;
    position: relative;
    bottom: 5px;
    background-color: #90d4c5;
}


.secondary-nav-container {
    margin-bottom: 3rem;
    @include display-flex;
    @include flex-direction-column;
    @include align-items(center);
}


.footer-logo-svg { 
    transform: scale(1.35);
    fill: map-get($primary-colors, 'dark-desaturated-cyan');
}


.secondary-nav {
    width: 100%;
    padding: 3rem 0 1rem;
    @include display-flex;
    @include justify-content(space-around);
}

.secondary-nav-item__link {
    text-decoration: none;
    @include text-component(
        map-get($fonts-family, 'secondary'), 
        1rem, 
        map-get($secondary-font-weights, 'semi-bold'), 
        center, 
        map-get($primary-colors, 'dark-moderate-cyan')
    );

    &:hover {
        color: #fff;
    }
}


.social-media-container {
    width: 60%;
    margin: 0 auto 1rem;
    @include display-flex;
    @include justify-content(space-evenly);
    @include align-items(baseline);
}

.social-media-item__link {
    fill: #2C7566;

    &:hover {
        fill: #fff;
    }
}


.attribution { 
    width: 100%;
    position: absolute;
    bottom: 1rem;
    @include text-component(
        map-get($fonts-family, 'secondary'), 
        0.7rem, 
        map-get($secondary-font-weights, 'semi-bold'), 
        center, 
        map-get($primary-colors, 'dark-moderate-cyan')
    );
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}


/************************************************************************************************
********************************** MEDIA QUERIES ************************************************
************************************************************************************************/

@include media(medium) {
    .header {
        height: 80vh;
    }

    .header__title {
        height: 38%;
        font-size: 2.6rem;
    }

    .header__decorative-arrow {
        height: 18%;
    }


    .about-container {
        @include display-grid;
        @include grid-template-columns(1fr 1fr);
    }

    .about-item--type_only_image:first-of-type {
        @include grid-column(2, 3);
        @include grid-row(1, 2);
    }

    .about-item-image-container {
        height: 100%;
        width: 100%;
    }    

    .about-item__image {
        height: 100%;
    }


    .services-container {
        position: relative;
        top: -5px;
        @include display-grid;
        @include grid-template-columns(1fr 1fr);
    }    


    .client-testimonials {        
        @include display-flex;
    }


    .gallery-projects-container {
        @include display-flex;
    }


    .footer-container {
        @include display-flex;
        @include flex-direction-column;
        @include align-items(center);
    }


    .secondary-nav-container {
        width: 20rem;
    }

    .social-media-container {
        width: 14rem;
    }
}

@include media(desktop-s) {
    .navbar {
        padding-top: 1.2rem;
        padding-left: 2rem;
        padding-right: 0rem;
    }

    .navbar-container {
        display: none;
    }


    .navbar-container-desktop {        
        width: 40%;
        @include display-flex;
        @include justify-content(space-evenly);
        @include align-items(center);
    }

    .navbar-item__link--style_button--color_white {
        background-color: white;

        &:hover {
            color: white;
            background-color: #ffffff3d;
        }
    }


    .navbar-logo {
        flex-basis: 13%;
    }

    .navbar-logo__image {
        width: 100%;
    }

    .navbar-item__link {
        font-size: 1rem;
    }

    .navbar-item__link--color_white {
        color: white;
    }


    .header {
        height: 100vh;
        background-image: url(../images/desktop/image-header.jpg);
    }

    .header__title {
        height: 30%;
        font-size: 3rem;
        letter-spacing: 8px;
    }


    .about-item {        
        @include justify-content(center);
        @include align-items(start);

        &:nth-child(2) {
            padding: 4rem 4.2rem 4rem 8.4rem;
        }

        &:last-child {
            padding: 4rem 6rem;
        }
    }

    .about-item__title {
        font-size: 2.2rem;
        text-align: left;
    }

    .about-item__description {
        text-align: left;
    }

    .about-item__link {
        left: 10px;
    }


    .service-item {
        @include display-flex;
        @include justify-content(center);
    }

    .service-item__description {
        width: 370px;    
    }

    .service-item__image-container {
        width: 100%;
    }


    .client-testimonials {
        padding: 0 5.2rem;
    }
}

@include media(desktop) {
    .navbar-item__link {
        font-size: 1.2rem;
    }
        

}